
.od__main__div{
    background: #F6F8FB;
    height: 100vh;
    padding: 20px;
}

.od__row {
    width: 100% !important;
    display: flex;
    align-items: center;
}

.od__row > div {
    padding: 10px;
}

.od__title__text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;

    /* identical to box height, or 131% */
    letter-spacing: 0.2px;

    /* Primary/Default */
    color: #E42346;
}

.od__serach__text {
    background: #FFFFFF;
    border-radius: 8px !important;
    width: 320px !important;
    color: #A0A4A8 !important;
    height: 42px !important;
}

.od__add__organization__btn {
    background-color: #E42346 !important;
    color: #FFFFFF !important;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 200% */
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

    padding: 8px 32px 8px 32px !important;
    border-radius: 3px !important;
    width: 220px !important;
}
.od__add__organization__btn_disabled {
    background-color: #DBDDE0 !important;
    color: #A0A4A8 !important;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    padding: 8px 32px 8px 32px !important;
    border-radius: 3px !important;
    width: 220px !important;
    pointer-events: none;
}

.od__add__organization__btn__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 200% */
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}

.od__btn__div {
    right: 20px;
    /* position: absolute; */
}

.od__placeholder {
    margin-top: 30px;
    width: 96%;
    /* height: 460px !important; */
    /* box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 8px; */
    padding: 10px;
    background: #FFFFFF;
}

.od__active__status {
    background-color: #ECFDF3 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__pending__status {
    color: #EFAD0A;
    text-transform: capitalize;
}

.od__declined__status {
    color: #E74F48;
    text-transform: capitalize;
}

.od__invited__status {
    background-color: #E5F4FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__pending_verification__status {
    background-color: #FFF5D9 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}
.od__pending_acceptance__status {
    background-color: #F4F3FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__declined__status {
    background-color: #FEF3F2 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__inactive__status {
    background-color: #DBDDE0 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}
.od__unverified__status {
    background-color: #F2F4FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
    color: #4E5BA6;
}

.od__cancelled__status {
    background-color: #FEF3F2 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
    color: #4E5BA6;
}



.od__invited__dot {
    color: #2E90FA !important;
    font-size: 30px;
    border-radius: 12px !important;
}

.od__active__dot {
    color: #2E90FA !important;
    font-size: 30px;
    border-radius: 12px !important;
}

.od__pagination__section {
    width: 100% !important;
    text-align: right !important;
}

.od__menu__text {
    text-align: left !important;
    justify-content:  left !important;
    padding: 4px !important;
    width: 200px !important;
    /* background-color: #344054 */
}

/* .MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: left !important;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 5px 5px 5px 20px !important;
    text-align: left !important;
} */

.MuiButtonBase-root {
    text-align: left !important;
    padding: 10px !important;
    text-transform: none !important;
}


.od__menu__row {
    width: 100%;
    display: flex;
    align-items: left !important;
    justify-content: center;
    padding: 8px !important;
}

.od__menu__icon__column {
    display: flex;
    align-items: left !important;
    justify-content: center;
    padding: 8px 4px 8px 4px !important;
    margin-left: 20px;
}

.od__menu__text__column {
    min-width: 100% !important;
    display: flex;
    align-items: left !important;
    margin-left: 15px;
}

.MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #E42346 !important;
    border-radius: 3px !important;
    color: #fff !important;
}

.od__align__right {
    justify-content: right !important;
    display: flex !important;
    align-items:center !important;
    position: absolute !important;
}

.MuiFormControl-root, .MuiFormControl-root {
    margin: 0px !important;
}

.MuiMenuItem-root {
    width: 100% !important;
}

.od__date__field {
    padding: 0 !important;
    height: 40px !important;
    width: 160px !important;
    background-color: #FFFFFF !important;
}

.od__left__section {
    width: 50% !important;
}

.od__right__section {
    width: 50% !important;
    display: flex;
    justify-content: right !important;
    align-items:center !important;
}

.od__right__section > div {
    margin-left: 10px !important;
}

.od__table__org {
    width: 100% !important;
}
.infinite_scroll div {
    display: contents;
}

.od__invited__label {
    padding-left: 6px;
    color: #175CD3;
    font-family: Lato;
}
.od__active__label {
    padding-left: 6px;
    color: #027A48;    
    font-family: Lato;
}

.od__declined__label {
    padding-left: 6px;
    color: #B42318;    
    font-family: Lato;
}

.od__unverified__label {
    padding-left: 6px;
    color: #363F72;
    font-family: Lato;
}
.od__pending_verification__label {
    padding-left: 6px;
    color: #B54708;
    font-family: Lato;
}
.od__pending_acceptance__label {
    padding-left: 6px;
    color: #5925DC;
    font-family: Lato;
}
.od__inactive__label {
    padding-left: 6px;
    color: #344054;
    font-family: Lato;
}

.od__cancelled__label {
    padding-left: 6px;
    color: #757500;
    font-family: Lato;
}

.MuiList-root-MuiMenu-list {
    width: 20% !important;
}

.MuiPaginationItem-root.Mui-selected {
    background-color: #E42346 !important;
    color: #FFFFFF !important;
    border-radius: 5px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    opacity: 1;
    transform: none;
    transition: opacity 203ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 135ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 225px;
    left: 1100px !important;
    width: 16% !important;
    transform-origin: 85px 0px;
}

.od_status {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 4px;
}