
 /* {showPassword ? <VisibilityOff /> : <Visibility />} */
 .si__main__div {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    font-family: Lato;
}

.si__left__div {
    box-sizing: border-box;
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #E42346;
    position: fixed;
}

.si__right__div {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    position: relative !important;
    right: -29%;
    top: 30%;
    left: 150%;
}
.si_left_signin {
    left: 185% !important;  
}
.si__left__200{
    left: 210% !important;
}

.si__left__content {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;

    /* or 115% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.si__pwd__show {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1px;

    /* Neutral/Black */
    color: #25282B;
    margin-right: 10px !important;
}

.si__right__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;

    /* identical to box height, or 121% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.si__right__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #A0A4A8;
    text-align: center;
    cursor: pointer;
}

.si__right__label {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 24px;

    /* identical to box height, or 150% */
    display: flex;
    align-items: center !important;
    letter-spacing: 0.1px;

    color: #696F79;
    
}

.si__text__box {
    width: 100% !important;
    color: #696F79 !important;
}


.si__left__image {
    width: 100%;
    /* height: 100vh; */
}

.si__login__btn {
    background: #E42346 !important;
    border-radius: 8px !important;
    width: 100%;
    color: #fff !important;
    padding: 12px !important;
}
.si_disable_btn {
    background: #E42346 !important;
    border-radius: 8px !important;
    width: 100%;
    color: #fff !important;
    padding: 12px !important;
    background-color: #DBDDE0 !important;
    pointer-events: none;
}

.si__forgot__link {
    width: 100% !important;
    color: #A0A4A8 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    
    /* identical to box height, or 133% */
    display: flex;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    letter-spacing: 0.1px;
    display: flex !important;
    margin-top: 15px;
    cursor: pointer;
}

.si__forgot__link_active{
    width: 100% !important;
    color: #E42346 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    
    /* identical to box height, or 133% */
    display: flex;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    letter-spacing: 0.1px;
    display: flex !important;
    margin-top: 15px;
    cursor: pointer;
}

.si__right__content > div {
    padding: 4px;
}

.si__check__box__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* Neutral/Black */
    color: #25282B;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 13px;
}


.si__text__box {
    /* background: #FFFFFF;
    border-radius: 5px !important;
    width: 100% !important; */
    background: #FFFFFF;
    border-radius: 8px !important;
    width: 450px !important;
    color: #A0A4A8 !important;
    height: 48px !important;
    padding: 12px !important;
}

.si__left__image__logo {
    position: absolute;
    top: 32px;
    left: 60px;
}
.io__verification {
    background-color: #fff;
    width: 40%;
    margin: auto;
    padding-top: 80px
}
.io_top_logo {
    position: absolute;
    top: 10px;
}
.io_sent_logo {
    /* margin-top: 100px; */
}
.io_width60 {
    width: 60%;
}
.io_email_label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.io_send_emailbtn {
    margin-top: 30px;
}
.io_trouble_label {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #E42346;
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}
.io_trouble_label label{
    cursor: pointer;
}
.io_expire_label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #CACCCF;
}
.io_margin_bottom30 {
    margin-bottom: 30px;
}

.evp__resend__verification__code {
    background: #FFFFFF;
    border-radius: 10px !important;
    border: 1px solid #E42346 !important;
    color: #E42346 !important;
}

.evp__action__section {
    width: 100% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
}

.evp__verify__btn {
    width: 180px !important;
    background-color: #E42346 !important;
    border-radius: 10px !important;
    color: #fff !important;
    padding: 10px !important;
}
.evp__verify__btn_disabled {
    width: 180px !important;
    background-color: #DBDDE0 !important;
    border-radius: 10px !important;
    /* color: #fff !important; */
    padding: 10px !important;
    pointer-events: none;
    color: #E42346 !important;
}

.evp__label__time {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    /* identical to box height, or 123% */
    text-align: center;
    letter-spacing: 0.1px;

    /* Neutral/Gray Light */
    color: #CACCCF;
}

.evp__code__text__box {
    text-align: center !important;
}
.si__right__forgot {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
    display: flex;
    flex-direction: column;
}
.io_width150 {
    width: 150%;
}
.io__right__div_resend {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    position: relative;
    left: 60%;
    top: 20%;
}
.si__right__content_resend {
    background: #FFFFFF;
    border-radius: 8px !important;
    color: #A0A4A8 !important;
    height: 48px !important;
    padding: 12px !important;
    width: 100% !important;
}
.si_width75 {
    width: 75%;
}
.css-1rv3ei8-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}
.si_list_style{
    list-style: none;
    padding-left: 26px;
    letter-spacing: 1px;
    padding: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: #A0A4A8;
}
.si_list_style li {
    margin-bottom: 5px;
}
.check_icon{
    margin-right: 10px !important;
}
.si_password_req {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #A0A4A8;
}
.si_active {
    letter-spacing: 0.2px;
    color: #03B575;
}
.si_nonactive {
    letter-spacing: 0.2px;
    color: #A0A4A8;
}
.si_submit{
    background-color: #DBDDE0 !important;
}
.si_left180 {
    left: 180% !important;
}
.si_left_reset {
    left: 255% !important;
}
.si_top_zero {
    top: 0 !important;
}
.si_reset {
    left: 130%;
}
input[type="email"] {
    /* text-transform: capitalize; */
}

::-webkit-input-placeholder {
    text-transform: initial;
 }
 
.si_acive_resend {
    color: #E42346 !important;
}