.io__cancel {
    width: 100%;
}
.io__cancel__btn {
    width: 158px;
    height: 44px;
    border: 1px solid #D0D5DD !important;
    border-radius: 12px !important;
    color: #52575C;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;

}
.io__Approve__btn {
    background-color: #E42346 !important;
    width: 158px;
    height: 44px;
    border-radius: 12px !important;
    border: 1px solid #E42346;
    padding: 10px 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #FFFFFF !important;
}