.wdv__main__div {
    width: 100%;
}

.wdv__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wdv__column {
    width: 18%;
    margin: 2px;
}

::-webkit-scrollbar {
    width: 2px !important;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius:2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 

  /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .wdv__section {
    margin-top: 10px;
    width: 96%;
  }

  .wdv__next__btn {
    width: 100% !important;
    background: #DBDDE0 !important;
    border-radius: 5px !important;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    letter-spacing: 0.2px;

    /* Neutral/Gray */
    color: #A0A4A8 !important;
  }

  .wdv__request__appointment {
    background-color: #E42346 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    width: 100% !important;
    border-radius: 5px !important;
    /* identical to box height, or 129% */
    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF !important;
  }