.wdv__main__div {
    width: 100%;
}

.wdv__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wdv__column {
    width: 18%;
    margin: 2px;
}

::-webkit-scrollbar {
    width: 2px !important;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius:2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 

  /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  