.pdc__main__div{
    /* font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000; */
    min-width: 85%;
    height: 100%;
    padding: 10px 0px 0px 50px;
}

.pdc__header__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;

    /* identical to box height, or 121% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
    margin-top: 100px;
}

.pdc__content__div{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #8692A6;
    margin-top: 10px;
}

.pdc__text__box {
    /* background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    width: 259px !important;
    left: 0px;
    top: 0px;
    padding: 10px;
    border-radius: 5px;
     padding: 8px !important; 
    height: 50px;     */
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 40px; */
    width: 290px !important;
    left: 0px;
    top: 0px;
    /* padding: 4px; */
    border-radius: 5px;
    /* padding: 8px !important; */
    min-height: 20px;
}

.pdc__row {
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* background-color: #A0A4A8; */
}

.pdc__column {
    padding-right: 30px;
}

.pdc__address__label{
    width: 100%;
}

.pdc__details__div {
    margin-top: 20px;
}

.pdc__column > div {
    margin-top: 4px;
}

.pdc__label{
    padding-bottom: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}

.pdc__back__button {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #8692A6;
    cursor: pointer;
}

.pdc__required {
    color: #ff0000 !important
}

.pdc__date__field {
    letter-spacing: .2px !important;    
}

.pdc__next__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px !important;

    /* Primary/Default */
    background: #E42346 !important;
    border-radius: 8px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    letter-spacing: 0.2px;

    /* Neutral/White */
    color: #FFFFFF !important;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 150px !important;
}

.pdc__align__right {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    width: 96%;
}

.pdc__step__text {
    position: absolute;
    right: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;

    /* Neutral/Gray Light */
    color: #CACCCF;
}