.psp__main__div {
    /* width: 100vw; */
    /* height: 100vh; */
    /* min-width: 85%; */
    height: 100%;
    padding: 2rem;
}

.psp__row {
    width: 100%;
    display: flex;
    /* background-color: #A0A4A8; */
}

.psp__header__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;  

    /* identical to box height, or 121% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
    margin-top: 0px;
}

.psp__back__button {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #8692A6;
    cursor: pointer;
}


.psp__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    color: #8692A6
}

.psp__header__space {
    height: 50px;
}

.psp__profile__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.9
}

.psp__updload__btn {
    background-color: #e42346 !important;
    color: #FFFFFF !important;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    letter-spacing: 0.2px;
    width: 30%;

}

.psp__image__preview {
    margin-left: 5%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.psp__label {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* Gray/700 */
    color: #344054;
    margin-bottom: 10px;
    margin-top: 20px;
}

.psp__step__text {
    position: absolute;
    right: 65px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;

    /* Neutral/Gray Light */
    color: #CACCCF;
}

.psp__multiline__text__box {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 70% !important;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    height: 230px !important;

    /* Neutral/Gray */
    color: #A0A4A8;
    margin-right: 60px !important;
    margin-top: 20px;
}

.psp__next__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px !important;

    /* Primary/Default */
    background: #E42346 !important;
    border-radius: 8px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    letter-spacing: 0.2px;

    /* Neutral/White */
    color: #FFFFFF !important;
    
    width: 150px !important;
    /* height: 55px !important; */
    /* position: absolute !important; */
    right: 5%;
    padding: 8px;
    height: 48px !important;
}

.psp__submit__btn__center__align {
    /* display: flex !important; */
    /* justify-content: end !important; */
    /* align-items: end !important; */

}

.psp__submit__btn__center__align1 {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 1px !important;
    padding-right: 0;
}

.psp_sub_div{
    padding: 2.5rem 4rem;
}

.mar-top-20{
    margin-top: 20px;
}
.mar-top-30{
    margin-top: 30px;
}

.psp__submit {
    position: absolute;
    bottom: 0;
    right: 100px;    
}