
.sla__row {
    width: 100%;
    display: flex;
    /* background-color: #A0A4A8; */
}

.sla__text__box {
    background: #FFFFFF;
    width: 350px !important;
    left: 0px;
    top: 0px;
    padding: 10px;
    border-radius: 5px;
    /* padding: 8px !important; */
}

.sla__label {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
}

.sla__column {
    padding-right: 30px;
}


.sla__sign__container {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #252B42;
  }

.sla__sign__pad {
    width: 100%;
    height: 100%;
    /* background-color: #252B42 */
  }

  .sa__column {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    /* or 150% */
    letter-spacing: 0.1px;
    
    color: #000000;
  }
  
  .sla__column {
    width: 500px !important;
  }

  .sla__date__section {
    margin-top: 50px !important;
  }