.nb__main_div {
    width: 100%;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nb__column__left {
    display: flex;
    width: 50%;
    align-items: center;
}

.nb__column__right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.nb__search__box {
    width: 400px !important;
}

.nb__logo {
    padding: 20px;
    width: 200px !important;
    margin-right: 75px;
}

.nb__search {
    padding: 10px;
}

.nb__calender, .nb__message, .nb__notification {
    padding: 8px;
    border: 0.8px solid #DBDDE0;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 20px;
}
.nb__notification button {
    padding:0 !important;
    min-width: 30px !important;
}

.nb__notification {
    display: flex;
    margin-left: 0px !important;
    /* position: absolute; */
}

.nb__notification_countzero {
    display: flex;
    margin-left: 20px !important;
    /* position: absolute; */
}

.nb__notification_countNanZero {
    display: flex;
    margin-left: 0px !important;
    /* position: absolute; */
}

.nb__profile {
    width: 250px;
    margin-left: 20px;
    background-color: #FFFFFF !important;
    justify-content: center !important;
    display: flex !important;
}

.nb__profile:hover { background-color:#FFFFFF !important}

.nb__serach__text {
    background: #FFFFFF;
    border-radius: 100px !important;
    width: 400px !important;
}

.nb__profile__dropdown {
    width: 200px !important; 
    background-color: #FFFFFF !important;
    display: flex;
    justify-content: left !important;
    text-align: left !important;  
    /* padding: 4px !important  */
}

.nb__profile__dropdown:hover {
    background-color: #FFFFFF !important;
}

.nb__profile__image {
    width: 48px !important;
    height: 48px;
    border-radius: 50%;
}

.nb__profile__dropdown > div {
    padding: 4px !important;
}

.nb__profile__name {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    display: flex;
    align-items: center;

    color: #232738;
}

.nb__profile__role {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* Gray 4 */
    color: #BDBDBD;
}

.css-zddlty-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}

.nb__profile__content {
    padding: 8px !important;
}

.nb__profile__content > div {
    padding: 4px !important;
}

.css-4ca7ag-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}

.nb__profile__menu {
    padding: 4px !important;
}

.nb__profile__menu__option {
    /* padding: 8px !important; */
    width: 100% !important;
    justify-content: left !important;
    
}

.row {
    width: 100%;
    display: flex;
}

.notifications {
    max-height: 360px;
    width: 360px;
    box-shadow: none !important;
}
.message-section {
    display: flex;
    width: 100%;
    border: 1px solid #0000001f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 0px;
    flex-direction: column;
    box-shadow: 1px 0 15px -4px #d5d7d9cc, -1px 0 8px -4px #d5d7d9cc;
}
.message-body {
    display: flex;
    flex-direction: row;
}

.message-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #edecec;
    display: flex;
    align-items: center;
    justify-content: center;

}

.message-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 80%;
}   

.meesage-title { 
    font-weight: bold;
}

.meesage-text{
    margin-top: 5px;
    font-size: 12px;
    color: #a9a9a9;
}

.notificationUnReadcount {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: orangered;
    position: relative;
    top: -20px;
    
    font-size: xx-small;
    justify-content: center;
    align-items: center;
    right: -55px;
    display: flex;
    color: #FFFFFF;
}

.close-icon {
    
    top: -12px;
    position: relative;
    fill: #bcbcbc !important;
    cursor: pointer;

}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80px; */
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 9px 15px;
    margin-top: 10px;
    cursor: pointer;
}
.button-view {
    
    background-color: #F5F9FA;
    margin-right: 5px;
}

.button-decline{
    background-color: #FDDDDD;
    color: #CD968D;
    margin-right: 5px;
}

.button-accept{
    background-color: #01B674;
    color: #FFFFFF;
}
.button-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    
}