.pdc__main__div{
    /* font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000; */
    min-width: 85%;
    height: 100%;
    padding: 2rem;
}

.pdc__header__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;

    /* identical to box height, or 121% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.pdc__content__div{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #8692A6;
}

.pdc__text__box {
    /* background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    width: 259px !important;
    left: 0px;
    top: 0px;
    padding: 10px;
    border-radius: 5px;
     padding: 8px !important; 
    height: 50px;     */
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 40px; */
    width: 290px !important;
    left: 0px;
    top: 0px;
    padding: 4px;
    border-radius: 5px;
    /* padding: 8px !important; */
    height: 45px;
}

.pdc__address__text__box {    
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 40px; */
    width: 925px !important;
    left: 0px;
    top: 0px;
    padding: 4px;
    border-radius: 5px;
    /* padding: 8px !important; */
    height: 45px;
}

.pdc__phone__text__box {    
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 40px; */
    width: 370px !important;
    left: 0px;
    top: 0px;
    padding: 4px;
    border-radius: 5px;
    /* padding: 8px !important; */
    height: 45px;
}

.pdc__dropdown {    
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 40px; */
    width: 220px !important;
    padding: 4px;
    border-radius: 5px;
    /* padding: 8px !important; */
    height: 45px;
}


.pdc__row {
    width: 100%;
    display: flex;
    /* background-color: #A0A4A8; */
}

.pdc__column {
    padding-right: 30px;
}

.pdc__address__label{
    width: 100%;
}

.pdc__details__div {
    margin-top: 15px;
    width: 100%;
}

.pdc__column > div {
    margin-top: 4px;
}

.pdc__label{
    padding-bottom: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}

.pdc__back__button {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #8692A6;
    cursor: pointer;
}

.pdc__required {
    color: #ff0000 !important
}

.pdc__date__field {
    letter-spacing: .2px !important;    
}

.pdc__next__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px !important;

    /* Primary/Default */
    background: #E42346 !important;
    border-radius: 8px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    letter-spacing: 0.2px;

    /* Neutral/White */
    color: #FFFFFF !important;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 150px !important;
}

.pdc__align__right {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

.pdc__step__text {
    position: absolute;
    right: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;

    /* Neutral/Gray Light */
    color: #CACCCF;
}

.MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: black !important;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 10.5px 10px !important;
    padding-right: 0;
}

.MuiOutlinedInput-root {
    width: 100% !important;
    min-height: 20px !important;
}

.MuiFormControl-root-MuiTextField-root{
    width: 100% !important;
}

.MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: black;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 11px 11px;
    padding-right: 0;
}

.pdc__row_grid{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pdc__row__four__grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pdc__row__two_grid{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.MuiFormControl-root, .MuiFormControl-root{
width: 100% !important
}

.pdc__sub__main__div{
    padding: 2.5rem 4rem;
}