@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  /* min-height: 100vh;
  min-width: 100vw; */
  font-family: Lato !important;
}

body {
  margin: 0;
  /* font-family: var(--unnamed-font-family-roboto), var(--unnamed-font-family-roboto-mono); */
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e42346;
}
.toast {
  
  padding:20px;
  border-radius: 10px;
    min-width: 200px;
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0.25rem;
    position: fixed;
    top:10px;
    right:10px;
    z-index: 999;
}
.toast-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255,255,255,.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  position: absolute;
  right: 15px;
  background-color: #fff;
    border: none;
}
.toast-body {
  padding: 0.75rem;

}