.od__confirmed__status {
    background-color: #ECFDF3 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__confirmed__label {
    padding-left: 6px;
    color: #027A48;    
    font-family: Lato;
}

.od__pending__label {
    padding-left: 6px;
    color: #5925DC;
    font-family: Lato;
}

.od__pending__status {
    background-color: #F4F3FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__requested_to_reschedule__status {
    background-color: #F4F3FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__requested_to_reschedule__label {
    padding-left: 6px;
    color: #B54708;
    font-family: Lato;
}
.ap_profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.io_select_d_title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.2px;
    color: #25282B;
}
.io_view_as {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #52575C;
    display: flex;
    align-items: center;

}
.io_handle_view {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 6px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.io_grid_item{
    padding: 10px 15px 10px 15px;
}
.io_active {
    background: #E8F3FF
}

.io_next_btn{
    position: absolute;
    width: 45%;
    right: 160px;
    margin-bottom: 25px;
}