.od__confirmed__status {
    background-color: #ECFDF3 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__confirmed__label {
    padding-left: 6px;
    color: #027A48;    
    font-family: Lato;
}

.od__pending_acceptance__label {
    padding-left: 6px;
    color: #5925DC;
    font-family: Lato;
}

.od__pending_acceptance__status {
    background-color: #F4F3FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__requested_to_reschedule__status {
    background-color: #F4F3FF !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}

.od__requested_to_reschedule__label {
    padding-left: 6px;
    color: #B54708;
    font-family: Lato;
}
.ap_profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}