.od__open__status {
    background-color: #ECFDF3 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}
.od__open__label {
    padding-left: 6px;
    color: #027A48;     
    font-family: Lato;
}
.od__closed__status {
    background-color: #ECFDF3 !important;
    border-radius: 16px;
    text-transform: capitalize;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px  2px 6px !important;
}
.od__closed__label {
    padding-left: 6px;
    color: #027A48;     
    font-family: Lato;
}